[gcode_macro Bed_Mesh]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28                                                                     # home if not homed
    SAVE_GCODE_STATE NAME=G29_STATE
        M140 S{60}                                                               # set bed temperature
        M190 S{60}                                                               # wait for bed temperature
    {% endif %}
    BED_MESH_CALIBRATE
    G0 X10 Y10 F6000


[gcode_macro PIDcalibrate]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=205
  PID_CALIBRATE HEATER=heater_bed TARGET=60


[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE 
 G1 X0 Y0 Z5 F4000


[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
  M118 First UNLOAD, then LOAD new and RESUME when ready

[gcode_macro UNLOAD]
description: Unload filament helper
gcode: 
  {% if printer.pause_resume.is_paused == 1 %}
    {% if printer.extruder.can_extrude == 1 %}
      G91
      G1 E5 F300
      G1 E-50 F300
      G90
    {% else %}
      RESPOND TYPE=error MSG="Extrude below minimum temp"
    {% endif %}
  {% else %}
    RESPOND TYPE=error MSG="Printer must be paused"
  {% endif %}

[gcode_macro LOAD]
description: Load filament helper
gcode:
  {% if printer.pause_resume.is_paused == 1 %}
    {% if printer.extruder.can_extrude == 1 %}
      G91
      G1 E20 F300
      G90
    {% else %}
      RESPOND TYPE=error MSG="Extrude below minimum temp"
    {% endif %}
  {% else %}
    RESPOND TYPE=error MSG="Printer must be paused"
  {% endif %}


[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}